:root {
    --white: #e6dcdc;
    --orange: #e94a0b;
    --white: #f7f6ed;
    --orange: #e73407;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--orange);
    color: #f3763c;
}

header {
    background-color: var(--black);
    color: #050505;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

main {
    padding: 20px;
}

#characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.character-card {
    background-color: #444141;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 450px; 
    position: relative;
    overflow: visible;
}

.image-container {
    width: 100%;
    height: 350px; 
    overflow: visible;
}

.character-card img {
    width: 100%;
    height: 100%;
   object-fit: contain;
   transition: transform 0.3s ease;
}
   .character-card:hover img 
   {
    transform: scale(1.1);
    z-index: 1;
}

.character-info {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.character-info h2 {
    margin: 0 0 5px 0;
    color: var(--red);
    font-size: 1.2rem;
}

.character-info p {
    font-size: 0.75rem;
    margin: 1px 0;
    line-height: 1.2;
}

footer {
    background-color: var(--yellow);
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card {background-color: black;
    opacity: 0.8;
}